<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\logs\internal-nlog.txt">


  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
    <target xsi:type="File" name="allfile" fileName="c:\logs\crm.api-${shortdate}.log"
            layout="${longdate} ${threadid} ${level} ${logger} ${message} ${exception:format=tostring}"
            archiveFileName="c:\logs\archives\crm.api.{#####}.txt"
            archiveAboveSize="10240000"
            archiveNumbering="Sequence"
            concurrentWrites="true"
            keepFileOpen="false"/>

    <!-- write to the void aka just remove -->
    <target name="consoleTarget" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="allfile" />
    <logger name="*" minlevel="Info" writeTo="consoleTarget" />
  </rules>
</nlog>